.user-response-body {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 2%;
}

.response-description {
  width: 60%;
  margin-left: 1%;
}

.user-response-meta {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-top: 2px;
}

.pt-0 {
  padding-top: 0;
}

.pb-0 {
  padding-bottom: 0;
}
